.container1{
    text-align: center;
    width: 50vw;
    margin: auto;
    margin-top: 3vh;
    
}
.container2{
    text-align:left;
    width: 70vw;
    margin: auto;
    margin-top: 3vh;
    
}
.spNav{
    padding-top:4vh;
    padding-bottom: 4vh;
}